.account-main{
    display: flex;
    padding: 10px 5%;
    align-items: flex-start;
    flex-shrink: 0;
    gap: 8px;
}
.nav-container{
    display: flex;
    width: 25%;
    flex-direction: column;
    align-items: flex-start;
    flex-shrink: 0;
    gap: 8px;
}
/*for mobile screens .nav-container display none */
@media(max-width: 470px){
    .nav-container{
        display:none;
    }
}

.account-main .nav-link{
    display: flex;
    width: 80%;
    padding: 16px 24px;
    align-items: center;
    gap: 24px;
    flex-shrink: 0;
    border-radius: 40px;
    background: var(--primary-color);
    text-decoration: none;
}
.nav-link-text{
    color: #1C170D;
    font-family: "Work Sans", sans-serif;}
.logout-link{
    margin-top: 100%;
    display: flex;
    width: 80%;
    padding: 16px 24px;
    align-items: center;
    justify-content: center;
    gap: 24px;
    flex-shrink: 0;
    border-radius: 40px;
    background: #74a607;
    color: white;
    font-weight: 700;
    font-size: larger;
}
.account-content{
    display: flex;
    flex-direction: column;
    width: 75%;
    gap: 8px;
}
/* if account-content width is greater than 470px then width is 100% */
@media(max-width: 470px){
    .account-content{
        width: 100%;
    }
}
